
body {
	 
}

#banner {
	width: 100%;
	height: 800px;

}

.principal{
	background: #FFFFFF;
	padding: 30px;

}

.titulo-pricipal{
	padding-left:20px ;
}


.titulo-centralizado {
	text-align: center; font-size: 50px;"
}


}

p{

}

em strong {
	color: #992019;
}

.itens{
	font-style: italic;

}

.beneficios  {

	background: #992019;
	padding: 20px;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagems_2{
	text-align: center; 
	width: 50%;
}