
body {
	 background: #CCCCCC
}

#banner {
	width: 100%;
}

h1 {
	text-align: center; font-size: 50px;"
}

#sub-titulo{
	font-size: 20px; text-align: center;
}

p{

}

em strong {
	color: brown;
}

.itens{
	font-style: italic;

}